<tr>
  <td><%= link_to article.title, '/admin/articles/' + article.id.to_s + '/edit' %></td>
  <td><%= article.user.name %></td>
  <td><%= article.created_at %></td>
  <td><%= link_to '削除', '/admin/articles/' + article.id.to_s, method: :delete %></td>
</tr>