<h2>記事一覧</h2>
<p>「お知らせ」として表示されます。</p>
<hr>
<table class="table">
  <thead>
  <tr>
    <th scope="col">タイトル</th>
    <th scope="col">作成者</th>
    <th scope="col">作成日</th>
  </tr>
  </thead>
  <tbody>
    <%= render partial: 'admin/articles/article_row', collection: @articles, as: 'article' %>
  </tbody>
</table>