<section>
  <div>
    <h3 class="headline">なぜ日本のIT技術は振るわないのか?<br>それは、本来不可欠なはずの要素が欠けているからです。</h3>
    <div class="triangle">
      <%= image_tag 'triangle.png' %>
    </div>
    <div class="text-center">
    <p>思いついたアイディアを生かす道は、研究だけとは限りません。開発によって生かされるアイディア、ビジネスによって生かされるアイディアもあります。</p>
    <p>研究、開発、ビジネス全部がそろってはじめて有効な社会価値となります。</p>
    <p>田胡研では、アイディアを最も重要なものと考え、それをもっとも有効に生かす方策を追求します。</p>
    </div>
  </div>
</section>
<section>
  <h2>研究室紹介</h2>
  <div>
    <p>研究室とは、いろいろな指向を持った人の間で”化学反応”を起こす炉だと考えています。田胡研では、以下の、大きく分野の異なるプロジェクトを意図的に並行して実施しています。</p>
    <div class="text-center key-phrase">
      合言葉は「<b>何か面白いもの作ってよ!</b>」
    </div>
    <ul class="project-list">
      <li>
        <h3>技術研究</h3>
        <ul>
          <li>Webサービス、IoTサーバ、AIサーバ等のクラウドで利用されることを想定した、ファイルシステム、通信機構等に関する技術開発を行なっています。</li>
        </ul>
      </li>
      <li>
        <h3>実践的なソフトウェアの開発</h3>
        <ul>
          <li>大学全体のクラウドの構築、運用を行いながら、開発したソフトウェアをオープンソース化しています。(<a href="http://www.teu.ac.jp/cloud/index.html" target="_blank">クラウドサービスセンター</a>)</li>
          <li>エンターテインメント分野を対象とした、AIoT基盤の開発を、オープンソースプロジェクトとして実施しています。(<a href="https://iot.k.t-lab.cs.teu.ac.jp" target="_blank">iOtプロジェクト</a>)</li>
          <li>Go言語を用いた大規模なソフトウェア開発を可能にする、トレーサーを開発しています。(<a href="https://github.com/yuuki0xff/goapptrace" target="_blank">goapptraceプロジェクト</a>)</li>
        </ul>
      </li>
      <li>
        <h3>ビジネス開拓</h3>
        <ul>
          <li>エンジニアを対象とした、ビジネススキル習得支援法を検討し、実際に育成プログラムを提供しています。</li>
          <li>スタートアップ支援を行っています。</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
<section>
  <h2>背景</h2>
  <div>
    <p>これら３つは、それぞれ、要素技術に関するアイディア、システム設計に関するアイディア、ビジネスアイディアです。自分が興味を持てる分野に関してよく考えてアイディアを出せるようにするとともに、どのような分野のアイディアであっても有効に生かせるような訓練を積みます。</p>
    <p>これらを活動項目としてとりあげたのは、偶然ではありません。研究、開発によって生み出されたアイディアは、いずれかの時点で社会に適用されてはじめて最終的な評価が決まります。したがって、技術を志す者は、個々のアイディアがどのような経緯を経て社会に適用されるのか知っている必要があります。多くの分野において、我が国の技術水準は世界に冠たるものがありますが、そのせっかくの技術がビジネスに十分に生かされないケースが多見されます。それは、長期的には、技術水準自体の地盤沈下をもたらします。その主要な原因が、人材育成にあると考えています。技術を生み出す人材と、それを利用して社会に適用する人材が同じ場所で活動して相互に理解できるようになることは、人材育成の点からきわめて重要です。これが、異なる価値観、方向性、目標を持った人材を一つの研究室に収容して活動を続ける理由です。</p>
  </div>
</section>
<section>
  <h2>お知らせ・最新情報</h2>
  <%= render 'shared/articles', articles: @articles %>
  <%= link_to 'お知らせ・最新情報一覧へ', '/articles', class: 'button' %>
</section>
