<section>
  <h2>ようこそ!田胡研究室へ!</h2>
  <div>
    <p>田胡研究室は、技術研究・大学全体で用いられるソフトウェアの開発・ビジネスに関わる研究等を行う研究室です。</p>
    <p>実際には、夜に鍋やったりそこそこでかい画面でアニメを夜な夜な観たりしています。嘘です。嘘じゃないけど。</p>
    <p>ロボット作ってる横で鍋やってたりするスーパーカオス不夜城こと研A611へぜひお越しください。</p>
  </div>
</section>
