<div class="project">
  <h3><%= project.title %></h3>
  <div class="description">
    <p><%= project.description %></p>
  </div>
  <hr>
  <p>参考サイト: <%= link_to project.site_title, project.url%></p>
</div>