<section>
  <h2>研究室紹介</h2>
  <p>hogehoge</p>
</section>
<section>
  <h2>3年生へ</h2>
  <p>田胡研に配属される学生は、少なくともＣＳ学部において最高水準のスキルを身に付けるように心がけてください。 皆さんの成果は、クラウドサービスセンターや、オープンソースプロジェクトを通じてそのまま外部に公開されてゆきます。 過去においても、先輩の成果が新聞報道等いろいろな形で公開されてきました。皆さんにも大いに期待しています。</p>
  <p>研究室では、研究、もしくは、実用性のあるソフトウェア開発が活動目的となります。 各人が、どちらがより合っているか決めてください。どちらも、他人から価値を認めてもらえることが、成果の条件となります。 研究では、論文を他の専門家に検査（査読）してもらって公表します。ソフトウェア開発では、大学内外で、実際にユーザに利用してもらえるようにする必要があります。 自分の価値を認めてもらうには、他人にとって意味のある成果をあげる必要があります。 すぐにはそのような成果は上がりませんので、結果として、継続的に努力を続けることが、自分の価値を認めてもらう唯一の方法になります。</p>
  <p>研究を行ったり、エンジニアとして就職するためには、大学院へ進学することをお勧めします。</p>
  
  <h3>研究室公開日</h3>
  <p>毎週火曜日と木曜日の3時限目に研究室公開を行います。</p>
  <p>それ以外の日も開放しておりますので、お気軽にいらしくてださい。</p>

  <h3>よくある質問</h3>
  <div class="question">
    <h4>プログラミングは必須ですか?</h4>
    <div class="answer">
      <p>はい。</p>
      <p>ですが、研究室に配属後、一から勉強をすることになるので、 現状のスキルが乏しくても自分で勉強をすればスキルを身につけることができます。</p>
      <p>また、授業の課題がこなせるからといって、今後の勉強が必要ないわけではありません。</p>
      <p>研究や開発では、授業よりはるかに高いレベルのスキルが求められます。 現状のスキルに満足せず、常に勉強することが必要です。</p>
    </div>
  </div>
</section>