<section>
  <h2>研究室紹介</h2>
  <p>hogehoge</p>
</section>
<section>
  <h2>3年生へ</h2>
  <p>田胡研に配属される学生は、少なくともＣＳ学部において最高水準のスキルを身に付けるように心がけてください。 皆さんの成果は、クラウドサービスセンターや、オープンソースプロジェクトを通じてそのまま外部に公開されてゆきます。 過去においても、先輩の成果が新聞報道等いろいろな形で公開されてきました。皆さんにも大いに期待しています。</p>
  <p>研究室では、研究、もしくは、実用性のあるソフトウェア開発が活動目的となります。 各人が、どちらがより合っているか決めてください。どちらも、他人から価値を認めてもらえることが、成果の条件となります。 研究では、論文を他の専門家に検査（査読）してもらって公表します。ソフトウェア開発では、大学内外で、実際にユーザに利用してもらえるようにする必要があります。 自分の価値を認めてもらうには、他人にとって意味のある成果をあげる必要があります。 すぐにはそのような成果は上がりませんので、結果として、継続的に努力を続けることが、自分の価値を認めてもらう唯一の方法になります。</p>
  <p>研究を行ったり、エンジニアとして就職するためには、大学院へ進学することをお勧めします。</p>
  
  <h3>研究室公開日</h3>
  <p>毎週火曜日と木曜日の3時限目に研究室公開を行います。</p>
  <p>それ以外の日も開放しておりますので、お気軽にいらしくてださい。</p>

  <h3>よくある質問</h3>
  <div class="question">
    <h4>プログラミングは必須ですか?</h4>
    <div class="answer">
      <p>はい。</p>
      <p>ですが、研究室に配属後、一から勉強をすることになるので、 現状のスキルが乏しくても自分で勉強をすればスキルを身につけることができます。</p>
      <p>また、授業の課題がこなせるからといって、今後の勉強が必要ないわけではありません。</p>
      <p>研究や開発では、授業よりはるかに高いレベルのスキルが求められます。 現状のスキルに満足せず、常に勉強することが必要です。</p>
    </div>
  </div>
  <div class="question">
    <h4>創成課題では何を行いますか?</h4>
    <div class="answer">
      <p>2012～2015年度の創成課題では、Javaによるオブジェクト指向プログラミングの学習とJavaScriptを用いたWebアプリケーションの開発演習を行いました。 　その他、田胡研究室において必要となるツール群(Git等)の使用練習や履歴書の作成練習を行いました。</p>
      <p>2016年度の創成課題では、Pythonを利用し機械学習を中心としたアプリケーションの開発を行うこと、もしくは別途個人で目標を掲げ達成にむけて取り組むこととしました。</p>
      <p>技術トレンドや配属生の思考を踏まえ、創成課題の内容は決定します。</p>
    </div>
  </div>
  <div class="question">
    <h4>成績はどの程度必要ですか?</h4>
    <div class="answer">
      <p>研究室配属の制度がその年によって違いますので、参考としてご覧ください。</p>
      <p>2012、2013年、2014度の4年生では、成績優秀学生として表彰された学生もいますが、GPA2前後の学生もいます。</p>
      <p>田胡研究室ではGPAが良い学生ではなく、やる気のある学生を求めています。成績が良くてもやる気のない学生は、希望しないでください。</p>
    </div>
  </div>
  <div class="question">
    <h4>研究室にはどのくらいの頻度で行った方が良いですか?</h4>
    <div class="answer">
      <p>毎日来ていただいてもいいです。また、常駐していただいても構いません。</p>
      <p>個人で卒業研究・開発がしっかりとできる人は、最低限週1回のグループミーティングと月1回の全体ミーティングに参加して進捗報告や指導教員との相談をしてください。</p>
      <p>参考までに、現在の4年生、大学院生の多くは週3回以上研究室に来ています。</p>
      <p>早期に何を研究・開発するのかを決定し、それをアピールできることは自分にとって大きな力になります。</p>
    </div>
  </div>
  <div class="question">
    <h4>機材や開発環境はどのようになっていますか?</h4>
    <div class="answer">
      <p>サーバーマシンが複数台あり、各自が自由に使用することができます。</p>
      <p>また、開発で必要になれば、個人用の計算機・VMを支給してもらうこともできます。</p>
      <p>開発環境はWindows・Mac・LinuxどのOSでも大丈夫です。また、言語に関してはCやJavaだけではなく、Ruby・Python・JavaScriptのようなスクリプト言語まで幅広く扱っています。自分の研究に合わせて言語を選択します。</p>
   </div>
  </div>
</section>