<section>
  <h2>連絡先</h2>
  <h3>所在地</h3>
  <p>東京工科大学 八王子キャンパス</p>
  <p>〒192-0982<br>東京都八王子市片倉町1404-1 研究棟A611</p>
  <p>アクセス方法は<a href="http://www.teu.ac.jp/campus/access/006644.html" target="_blank">こちら</a>をご覧ください。</p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12972.230886291467!2d139.3393495!3d35.6263035!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x337318568a7aaa3b!2z5p2x5Lqs5bel56eR5aSn5a2mIOWFq-eOi-WtkOOCreODo-ODs-ODkeOCuQ!5e0!3m2!1sja!2sjp!4v1520323980903" width="800" height="600" frameborder="0" style="border:0; width: 100%; margin-bottom: 8px;" allowfullscreen></iframe>

  <h3>メールアドレス</h3>
  <%= mail_to "tlab-contact@googlegroups.com" %>

</section>