$highlight: #4b9ad8;

.question {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;

  h4 {
    font-weight: bold;
    border-bottom: 1px dotted $highlight;
    margin-bottom: 8px;
  }
}