/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$highlight: #4b9ad8;
$base: #4a4a4a;

/* ---------- Global ---------- */
* {
  color: $base;
  font-family: "Mplus 1p", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

.turbolinks-progress-bar {
  background-color: $highlight;
}

.container {
  margin: 0 auto;
  width: 90vw;
}

.button {
  color: $highlight;
  display: block;
  width: 320px;
  height: 56px;
  border: 1px solid $highlight;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 56px;
  margin: 0 auto;
  transition: all 1s ease 5ms;
}

.button:hover {
  background-color: $highlight;
  color: white;
}

hr {
  margin-bottom: 8px;
}

h2 {
  border-bottom: 1px solid $highlight;
  color: $highlight;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
}

h3 {
  margin-bottom: 8px;
  font-weight: bold;
  border-bottom: 1px dotted $highlight;
}

a {
  text-decoration: underline;
  color: $highlight;
}

p {
  margin-bottom: 8px;
}

/* ---------- Header ---------- */
header {
  align-items: flex-end;
  border-bottom: 2px solid $highlight;
  display: flex;
  flex-direction: row;
  padding: 0 32px;
  width: 100%;

  h1 {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin: 8px 16px 8px 0;

    span {
      color: $highlight;
    }

    span:first-child {
      font-size: 14px;
    }
  }

  nav {
    margin-bottom: 8px;

    a {
      color: $base;
      text-decoration: none;
      display: inline-block;
      padding-right: 8px;
      transition: all 1s ease 50ms;
    }

    a:hover {
      color: #000000;
    }
  }
}

/* ---------- Footer ---------- */
footer {
  background-color: $highlight;
  text-align: center;
  padding: 24px 0;

  small, a {
    color: white;
  }

  nav {
    a {
      display: inline-block;
      padding-right: 8px;
      transition: all 1s ease 50ms;
      text-decoration: none;
    }

    a:hover {
      color: #ccc;
    }
  }
}
