/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: "Mplus 1p", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

header {
  align-items: flex-end;
  border-bottom: 2px solid #4b9ad8;
  display: flex;
  flex-direction: row;
  padding: 0 32px;
  width: 100%;

  h1 {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin: 8px 16px 8px 0;

    span:first-child {
      font-size: 14px;
    }
  }

  nav {
    margin-bottom: 8px;

    a {
      display: inline-block;
      padding-right: 8px;
      transition: all 1s ease 50ms;
    }

    a:hover {
      color: #000000;
    }
  }
}