// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.project {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
}
