// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$highlight: #4b9ad8;

ul {

  li {
    margin-bottom: 8px;

    h3 {
      font-weight: bold;
      border-bottom: 1px dotted $highlight;
    }

    ul {
      list-style-type: square;
      list-style-position: inside;
      
    }
  }
}