// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$highlight: #4b9ad8;

.project-list {
  margin: 16px 0;
  background-color: rgba($color: gray, $alpha: 0.1);
  padding: 8px;
}

ul {
  li {
    margin-bottom: 8px;

    ul {
      list-style-type: square;
      list-style-position: inside;
    }
  }
}

.header-img {
  margin: 0;
  width: 100%;
  margin-bottom: 8px;
}

.video-warp {
  overflow: hidden;

  video {
    width: 100%;
    background-image: url("header.png");
  }

  p {
    color: white;
    font-size: 400%;
    position: absolute;
    left: 50vw;
    top: 200px;
    z-index: 1;
    font-weight: bold;
  }
}

section {
  margin-bottom: 8px;
}