// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$highlight: #4b9ad8;

.project-list {
  margin: 16px 0;
  background-color: rgba($color: gray, $alpha: 0.1);
  padding: 8px;
}

ul {
  li {
    margin-bottom: 8px;

    ul {
      list-style-type: square;
      list-style-position: inside;
    }
  }
}

.header-img {
  margin: 0;
  width: 100%;
  margin-bottom: 8px;
}

section {
  margin-bottom: 8px;
}

.triangle {
  width: 100%;
  margin: 16px 0;
  text-align: center;
}

.triangle > img {
  display: inline-block;
  width: 362.5px;
  height: 315.5px;
  margin: 0 auto;
}

.headline {
  border: none;
  text-align: center;
  font-size: 150%;
  font-weight: normal;
}

.text-center {
  text-align: center;
}

.key-phrase {
  font-size: 120%;
}