<header>
  <h1 class="is-info">
    <span>東京工科大学</span>
    <span>田胡研究室</span>
  </h1>
  <nav>
    <%= link_to 'Top', '/', class: 'hoge' %>
    <%= link_to 'About', '/about', class: 'hoge' %>
    <%= link_to 'Projects', '/projects', class: 'hoge' %>
    <%= link_to 'Contact', '/contact', class: 'hoge' %>
  </nav>
</header>